@import url("https://fonts.googleapis.com/css?family=Lilita+One|Source+Sans+Pro|Rubik+Mono+One&display=swap");

.grid {
  margin: 0 auto;
  font: 150%/1.45em georgia, serif;
  max-width: 60vh;
  max-height: 60vh;
}
#main_title {
  font-family: "Rubik Mono One", sans-serif;
}
@media only screen and (max-width: 600px) {
  .grid {
    display: inline;
  }
}
@media only screen and (min-width: 600px) {
  .grid {
    margin-bottom: 5vh;
  }
}

#main_container {
  max-width: 70vh;
}
button:active {
  border-style: outset;
}

.box {
  flex: 1 0 auto;
  position: relative;
  border-width: 1px;
  border-style: solid;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.last {
}
.selected {
  background-color: red !important;
  transition: 0s 2s, 0.05s linear;
}
.not-selected {
  transition: 0s 2s, 0.05s linear;
}
.box:after {
  content: "";
  float: left;
  display: block;
  padding-top: 100%;
}

.box .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lilita One", cursive;
  font-size: 1.7em;
}

@media only screen and (max-width: 600px) {
  .box .inner {
    font-size: 1.2em;
  }
}
#score_value {
  font-family: "Lilita One", cursive;
  font-size: 1.7em;
}

.scoreContainer {
  margin-top: 2.5vh;
}

.scoreFeedTitle {
  font-family: "Source Sans Pro", sans-serif;
}

.font {
  font-family: "Source Sans Pro", sans-serif;
}
