.grid {
  margin: 0 auto;
  width: 80vw;
  max-width: 60vh;
  height: 80vw;
  max-height: 60vh;
  font-size: 1rem;
}

.box {
  flex: 1 0 auto;
  position: relative;
  border-width: 1px;
  border-style: solid;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.last {
}
.selected {
  background-color: red;
}
.box:after {
  content: "";
  float: left;
  display: block;
  padding-top: 100%;
}

.box .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
